* {
    margin: 0;
    padding: 0;
}

body {
    --color-01: #FF6565;
    --color-02: #071629;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Source Sans 3', sans-serif;
}


/**====================================== HEADERS SECTION ==================================**/

header {
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding: 2em 10em 2em 10em;
    text-align: center;
}


/** Navbar **/
nav {
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 161px;
    height: 32px;
}

.nav-list {
    display: flex;
}

.nav-list li{
    list-style: none;
    padding: 0 20px;
}
.nav-list .last {
    padding-right: 0;
}
.nav-list a {
    text-decoration: none;
    color: #fff;
}
.nav-list a:hover,
.nav-list a:active {
    color: var(--color-01);
}

.header-content {
    width: 637px;
    height: 313px;
    text-align: center;
    color: #fff;
    margin: 20em auto 0;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.header-content p{
    margin-top: 2em;
}

button{
    background-color: var(--color-01);
    color: #fff;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin: 3em 0;
}
button:hover,
button:active{
    opacity: 0.9;
}


/**====================================== MAIN SECTIOM ==================================**/

main{
    text-align: center;
}

/**First Section**/

.first-section{
    color: var(--color-02);
    margin: 7.5em 0;
    padding: 0 10em;
}

.first-section-img{
    height: 58px;
    width: 52px;
    margin-bottom: 20px;
}

.section-write-up {
    width: 637px;
    margin: 0 auto 80px auto;
}

.section-write-up h1{
    margin-bottom: 40px;
}

.section-media {
    display: flex;
    justify-content: space-between;
}

/**Second Section**/

.second-section {
    background-image: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.5em 10em;
    color: #fff;
}

.second-section h1{
    margin-bottom: 40px;
}

.media-card{
    height: 190px;
    width: 190px;
    position: relative;
}

.second-section-img {
    max-width: 100%;
    height: auto;
}

.media-text{
    position: absolute;
    top: 30%;
    left: 15%;
}

.media-text h1 {
    font-size: 46px;
    margin-bottom: 0;
}


/**Third Section**/

.third-section{
    color: var(--color-02);
    margin: 7.5em 0;
    padding: 0 10em;
}

.contact-box h1 {
    margin-bottom: 50px;
}
.contact-box button {
    margin-top: 10px;
}

.contact-box {
    max-width: 340px;
    padding: 0;
    margin: 0 auto;
}

.contact-box input {
    width: 100%;
    border: none;
    height: 20px;
    margin: 5px 0;
}

.contact-box textarea{
    width: 100%;
    resize: none;
    border: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retangle {
    width: 335px;
    height: 1px;
    opacity: 0.1745;
    background: #071629;
    margin-bottom: 50px;
}
