* {
    margin: 0;
    padding: 0;
}

body {
    --color-01: #FF6565;
    --color-02: #071629;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Source Sans 3', sans-serif;
}


/**====================================== HEADERS SECTION ==================================**/

header {
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding: 2em 10em 2em 10em;
    text-align: center;
}


/** Navbar **/
nav {
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 161px;
    height: 32px;
}

.nav-list {
    display: flex;
}

.nav-list li{
    list-style: none;
    padding: 0 20px;
}
.nav-list .last {
    padding-right: 0;
}
.nav-list a {
    text-decoration: none;
    color: #fff;
}
.nav-list a:hover,
.nav-list a:active {
    color: #FF6565;
}

.header-content {
    width: 637px;
    height: 313px;
    text-align: center;
    color: #fff;
    margin: 20em auto 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.header-content p{
    margin-top: 1em;
}

button{
    background-color: #FF6565;
    color: #fff;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin: 3em 0;
}


/**====================================== MAIN SECTIOM ==================================**/

